/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-1 {
  width: calc(8.33333% - 65px);
}

.col-2 {
  width: calc(16.66667% - 65px);
}

.col-3 {
  width: calc(25% - 65px);
}

.col-4 {
  width: calc(33.33333% - 65px);
}

.col-5 {
  width: calc(41.66667% - 65px);
}

.col-6 {
  width: calc(50% - 65px);
}

.col-7 {
  width: calc(58.33333% - 65px);
}

.col-8 {
  width: calc(66.66667% - 65px);
}

.col-9 {
  width: calc(75% - 65px);
}

.col-10 {
  width: calc(83.33333% - 65px);
}

.col-11 {
  width: calc(91.66667% - 65px);
}

.col-12 {
  width: calc(100% - 65px);
}

.container {
  max-width: 90vw;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dialog {
  position: relative;
  width: 40%;
  height: 70%;
  border-radius: 25px;
  top: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: initial;
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.dialog .header {
  padding-top: 20px;
  padding-left: 40px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dialog .header .header-text {
  width: 100%;
  height: 15%;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 28px;
  line-height: 28px;
  font-weight: bold;
  color: #161932;
}

.dialog .header img {
  margin-right: 38px;
  cursor: pointer;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.dialog .header img:hover {
  opacity: 0.7;
}

.dialog .header img:hover {
  -webkit-animation: spin 0.3s linear normal;
          animation: spin 0.3s linear normal;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.dialog .header::after {
  content: '';
  display: block;
  border-bottom: 1px solid black;
}

.dialog .divider {
  border-top: 1px solid #e3e1e16b;
}

.dialog .min-divider {
  width: 90%;
}

.dialog .container-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dialog .time-minutes {
  font-family: "Kumbh Sans", sans-serif;
  color: #161932;
  letter-spacing: 5px;
  font-weight: bold;
  text-transform: uppercase;
  display: block;
  width: 100%;
  font-size: 14px;
}

.dialog .inputs-values {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dialog .inputs-values label {
  font-family: "Kumbh Sans", sans-serif;
  color: #1e213f69;
  font-weight: bold;
  font-size: 14px;
}

.dialog .inputs-values .inputs {
  border-color: #1e213f14;
  border-radius: 10px;
  height: 90%;
  width: 90%;
  background-color: #1e213f14;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 15px;
  margin-top: 8px;
  border: none;
}

.dialog .inputs-values .arrow-up {
  position: absolute;
  left: 28%;
  top: 36%;
  cursor: pointer;
}

.dialog .inputs-values .arrow-down {
  position: absolute;
  top: 39%;
  left: 28%;
  cursor: pointer;
}

.dialog hr {
  margin-top: 3%;
}

.dialog .divider-font {
  border-top: 1px solid #e3e1e16b;
}

.dialog .container-font {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 25px 0px 25px;
}

.dialog .container-font .font-text {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 3%;
  font-size: 14px;
}

.dialog .container-font .container-circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  height: 50%;
  width: 35%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dialog .container-font .container-circles .circles {
  border-radius: 50%;
  color: #1E213F;
  background-color: #d7e0ff80;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  cursor: pointer;
}

.dialog .container-font .container-circles .circles:hover {
  opacity: 0.7;
}

.dialog .container-font .container-circles .font-1 {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
}

.dialog .container-font .container-circles .font-2 {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}

.dialog .container-font .container-circles .font-3 {
  font-family: "Space Mono", monospace;
  font-weight: bold;
}

.dialog .container-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 25px 0px 25px;
}

.dialog .container-color .container-circles-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: flex;
  height: 50%;
  width: 35%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dialog .container-color .container-circles-color .circles {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  cursor: pointer;
}

.dialog .container-color .container-circles-color .circles:hover {
  opacity: 0.7;
}

.dialog .container-color .container-circles-color .circles span {
  color: #EFF1FA;
}

.dialog .container-color .container-circles-color .circle-1 {
  background-color: #F87070;
}

.dialog .container-color .container-circles-color .circle-1 span {
  color: #1E213F;
  font-weight: bold;
}

.dialog .container-color .container-circles-color .circle-2 {
  background-color: #70F3F8;
}

.dialog .container-color .container-circles-color .circle-3 {
  background-color: #D881F8;
}

.dialog .container-color .font-color {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 3%;
  font-size: 14px;
}

.color-font {
  background-color: #1E213F !important;
  color: #EFF1FA !important;
}

.button {
  position: absolute;
  left: 50%;
  bottom: -10%;
  width: 145px;
  height: 55px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 25px;
  background-color: #F87070;
  border: none;
  font-family: "Kumbh Sans", sans-serif;
  color: #EFF1FA;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.button:active {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.button:focus {
  outline: none;
}

input[type=number] {
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  padding: 0 8px;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  width: 8px;
  color: #333;
  text-align: center;
  position: relative;
}

input[type=number]:hover::-webkit-inner-spin-button {
  background: #eee url("http://i.stack.imgur.com/YYySO.png") no-repeat 50% 50%;
  width: 14px;
  height: 14px;
  padding: 4px;
  position: relative;
  right: 4px;
  border-radius: 28px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-width: 900px) {
  .dialog {
    width: 100%;
    height: 100%;
  }
  .container-inputs {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .inputs-values {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .container-color {
    height: 30% !important;
    margin: 0% !important;
  }
  .container-time {
    height: 45% !important;
    padding-left: 0% !important;
  }
  .inputs {
    width: 40% !important;
  }
  .time-minutes {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    font-size: 11px !important;
  }
  .container-font {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-top: 3% !important;
  }
  .container-circles {
    width: 90% !important;
  }
  .container-color {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    height: 18% !important;
    margin-left: 25px !important;
    margin-right: 25px !important;
  }
  .container-circles-color {
    width: 90% !important;
  }
  .font-text {
    font-size: 11px !important;
    margin-bottom: 3% !important;
  }
  .font-color {
    font-size: 11px !important;
    margin-bottom: 3% !important;
  }
  .header-text {
    font-size: 20px !important;
  }
  .header {
    padding-left: 5px !important;
  }
  #close-button {
    margin-right: 5px !important;
  }
}
/*# sourceMappingURL=dialog-settings.css.map */