@import './reset';
@import './grid';
@import './colors';
@import './fonts';
@import './mixin';


:root{
    --primary: #F87070;
    --primary-font: 'Kumbh Sans', sans-serif;
}

.khubms:root{
    --primary-font: 'Kumbh Sans', sans-serif;
}

.robotoslab:root{
    --primary-font: 'Roboto Slab', serif;
}

.spacemono:root{
    --primary-font: 'Space Mono', monospace;
}


.orange:root{
    --primary: #F87070; 
}

.ligth-blue:root{
    --primary: #70F3F8; 
}

.ligth-purple:root{
    --primary: #D881F8; 
}


body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $darkblue;
    font-family: $khumbsans;
    font-size: 16px;
    color: $gray;
}
main{
    flex-direction: column;
}

.title{
    text-align: center;
}

.container-options{
    width: 100%;
    height: 63px;
    background-color: $darkerblue;
    border-radius: 150px;
    margin-top: 30px;

    .options{
        justify-content: space-around;
        align-items: center;
        height: 100%;
        display: flex;
        position: relative;

        .option{
            color: $gray;
            font-size: 14px;
            font-family: var(--primary-font);
            @include hover-text-animation;
        }
    }

    .active{
        background-color: var(--primary);
        width: 120px;
        height: 48px;
        border-radius: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        //margin: 0 8px;
    }

    .option:first-child{
        padding-left: 30px;
    }

    .option:last-child{
        padding-right: 30px;
    }   

    .option:first-child.active,.option:last-child.active{
        padding: 0;
    }

    .option.active{
        color: $darkblue;
        font-weight: bold;
    }
}

.clock{
    background-color: $darkerblue;
    height: 410px;
    width: 410px;
    border-radius: 50%;
    background: linear-gradient(315deg, #2E325A 0%, #0E112A 100%);
    box-shadow: -50px -50px 100px #272C5A, 50px 50px 100px #121530;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;

    .progress{
        stroke: var(--primary);
    }

    .second-clock{
        width: 366px;
        height: 366px;
        background-color: #161932;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .timer-indicator{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 339px;
            width: 339px;
            position: relative;
            stroke-linecap: round;
            transform: rotate(276deg);
        }

        .group-timer{
            position: absolute;
        }
        .timer{
            color: $gray;
            width: 233px;
            height: 101px;
            font-size: 85px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: var(--primary-font);
            font-weight: bold;
        }

        #start{
            font-family: $khumbsans;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $gray;
            @include hover-text-animation;
            letter-spacing: 20px;
            font-weight: 700;
            margin-left: 10px;
            text-transform: uppercase;
        }
    }
}

.settings{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    img:hover{
        @include rotate-image;
        @include hover-text-animation;
    }
}

.container-time{
    display: flex;
    height: 30%;
    padding: 20px 0px 0px 30px;
    flex-direction: column;
}

@media(max-width: 900px){
    .clock{
        height: 360px !important;
        width: 360px !important;
    }

    .second-clock{
        height: 347px !important;
        width: 347px !important;
    }
}






